{% extends "base.html" %}

{% block title %}
    ویرایش اطلاعات درس: {{ lesson.CName }}
{% endblock %}


{% block title_page %}
    ویرایش اطلاعات درس: {{ lesson.CName }}
{% endblock %}

{% block content %}

<form method="post" action="/UpdateLesson/{{ lesson.CID }}/">

    <div class="mb-3">
      <label for="cid-field" class="form-label">کد درس</label>
      <span>{{ lesson.CID }}</span>
      <input type="hidden" name="CID" value="{{ lesson.CID }}">
    </div>
    <div class="mb-3">
      <label for="cname-field" class="form-label">نام درس</label>
      <input class="form-control" name="CName" id="cname-field" type="text" value="{{ lesson.CName }}" placeholder="ریاضی عمومی">
    </div>

    <div class="mb-3">
      <label for="department-field" class="form-label">دانشکده</label>
      <input class="form-control" id="department-field" name="Department" type="text" value="{{ lesson.Department }}" placeholder="فنی و مهندسی">
    </div>

    <div class="mb-3">
      <label for="credit-field" class="form-label">تعداد واحد</label>
      <input class="form-control" id="credit-field" name="Credit" type="number" value="{{ lesson.Credit }}" placeholder="3">
    </div>


    <input type="submit" class="btn btn-primary w-100" value="ثبت">
</form>


{% endblock %}